@import "materialize";

#checkout {
  .section--center {
    max-width: 80%;
    padding: 40px 60px;
  }
  .checkout-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
    position: relative;
    margin-left: 5px;
    margin-bottom: 5px;
    min-height: 35px;
    & span {
      padding: 6px 9px;
      background-color: #000;
      color: #fff;
      position: absolute;
      border-radius: 20px;
      left: -40px;
      top: -6px;
    }
  }
  .form {
    &--block {
      background-color: #fff;
      padding: 5px 15px 0;
      border-radius: 4px;
      &__input {
        @extend .validate;
        margin-bottom: 0;
        border: none;
        box-shadow: none;
        &::-webkit-input-placeholder {
          font-size: 20px;
          color: #ccc;
        }
      }
      &__label {
        font-size: 0.8rem;
        color: #000;
        // Need to overwrite materialize styles (fast solution)
        position: static!important;
        font-weight: bold;
      }
      .select-dropdown {
        border: none;
        font-size: 20px;
      }
    }
    & button[type="submit"] {
      margin-top: 20px;
      width: 100%;
      background-color: #66cc00;
      color: #fff;
      font-weight: 800;
      min-height: 60px;
      i {
        margin-right: 10px;
      }
    }
  }
}
.order {
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 77px;
  &--inner {
    padding: 10px;
    border: 3px dotted #ebebeb;
  }
  &--line {
    margin-top: 15px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    & span:last-child {
      float: right;
    }
  }
  &--tax {
    margin: 30px 0 10px;
    padding: 10px 0;
    border-top: 3px dotted #ebebeb;
    border-bottom: 3px dotted #ebebeb;
    & .order--line:first-child {
      margin: 0;
    }
  }
  &--total {
    span {
      font-weight: 800;
    }
    span.price {
      font-size: 28px;
    }
    margin-bottom: 45px;
  }
}
.bg-grey {
  background-color: #f3f3f3;
}